
<html>

<head>


 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Message Board</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<link href="/assets/index.css" rel="stylesheet" type="text/css">

</head>



<body>
	<div class="container-fluid text-center">
		<div class="row">
			
			<div class="col-sm-12 text-center">
			<h1>Write A Message to the Board!</h1>
				<h2>Whats on your mind?</h2>
				<form method="POST" action="/new">


				<div class="panel panel-default">
					
					<div class="panel-header">
						<input id="in2" name="user" placeholder="Username">
					</div>
					<div class="panel-body">
						<input id="in1" name="messageText" >
					</div>
					<div class="panel-footer">
						<button id="but1">Submit</button>
					</div>

				</div>

				
				


				




					</form>

			</div>
		</div>
		


	</div>

</body>
</html>